### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [4]:
s=float(input("Enter the CTC:"))
if s<500000:
    monthly_salary=(s-((s*18)/100))/12
elif s>500000 and s<1000000:
    monthly_salary=(s-((s*28)/100))/12
elif s>1000000 and s<2000000:
    monthly_salary=(s-((s*38)/100))/12
else:
    monthly_salary=(s-((s*48)/100))/12
print(monthly_salary)

Enter the CTC:1600000
82666.66666666667

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [6]:
a=float(input("Enter the 1st angle:"))
b=float(input("Enter the 1st angle:"))
c=float(input("Enter the 1st angle:"))
if (a+b+c)==180:
  print("It can form a triangle")
else:
  print("It can not form a triangle")

Enter the 1st angle:20
Enter the 1st angle:10
Enter the 1st angle:100
It can not form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [7]:
cp=float(input("Enter cost price:"))
sp=float(input("Enter selling price:"))
if cp>sp:
    loss=cp-sp
    print(f"Loss of {loss}")
else:
    profit=sp-cp
    print(f"profit of {profit}")

Enter cost price:80
Enter selling price:100
profit of 20.0

### `Problem 4`: Write a menu-driven program - 
1. cm to ft 
2. km to miles 
3. USD to INR 
4. exit

In [3]:
menu=input("""
Hi! How may I help you?
1. Enter 1 for cm to ft
2. Enter 2 for km to miles
3. Enter 3 for USD to INR
4. Enter 4 for exit
""")
if menu=="1":
    print("cm to ft")
elif menu=="2":
    print("km to miles")
elif menu=="3":
    print("usd to inr")
else:
    print("exit")

Hi! How may I help you?
1. Enter 1 for cm to ft
2. Enter 2 for km to miles
3. Enter 3 for USD to INR
4. Enter 4 for exit
3
usd to inr

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [1]:
num1,num2=0,1
for i in range(10):
    print(num1)
    next=num1+num2
    num1=num2
    num2=next

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

In [5]:
n=int(input("Enter the number:"))
fact=1
for i in range(n,0,-1):
    fact=fact*i
print(fact)

Enter the number:4
24

### `Problem 7` - Reverse a given integer number.

In [3]:
n=int(input("Enter the number:"))
rev=0
while n!=0:
    digit=n%10
    rev=rev*10+digit
    n=n//10
print(rev)

Enter the number:123
321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

In [5]:
n=int(input("Enter the number:"))
sum=0
for i in range(n):
    if i%5==0:
        continue;
    sum=sum+i
    if sum>300:
        sum-=i
        break;
print(sum)

Enter the number:10
40

### Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [6]:
sum=0
count=0
while True:
    num=int(input("Enter the number:"))
    if num==0:
        break;
    sum=sum+num
    count=count+1
print(sum)
print(sum/count)

Enter the number:1
Enter the number:5
Enter the number:6
Enter the number:3
Enter the number:2
Enter the number:0
17
3.4

### `Problem 10`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [9]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

### Problem 11: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [12]:
for i in range(1000,3001):
    flag=True
    curr=i
    while curr>0:
        last=curr%10
        if last%2!=0:
            flag=False
            break
        curr=curr//10
    if flag:
        print(i,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

### `Problem 12`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.

In [3]:
pos=[0,0]
while True:
    s=input("Enter robo path:")
    if s=="!":
        break
    direction=s.split()[0]
    steps=int(s.split()[1])
    if direction=="UP":
        pos[1]=pos[1]+steps
    elif direction=="DOWN":
        pos[1]==pos[1]-steps
    elif direction=="RIGHT":
        pos[0]=pos[0]+steps
    elif direction=="LEFT":
        pos[0]=pos[0]-steps
    else:
        pass
print("New co-ordinate ",pos)
print("Distance ",(pos[0]**2 + pos[1]**2)**0.5)

Enter robo path:UP 3
Enter robo path:DOWN 4
Enter robo path:!
New co-ordinate  [0, 3]
Distance  3.0

### `Problem 13`:Write a program to print whether a given number is a prime number or not

In [2]:
n=int(input("Enter the number:"))
flag=True
for i in range(2,n):
    if n%i==0:
        flag=False
        break
if flag:
    print(" prime number")
else:
    print("Not a Prime number")

Enter the number:6
Not a Prime number

### `Problem 13`:Print all the Armstrong numbers in a given range.

In [6]:
n=int(input("Enter the number"))
temp=n
sum=0
while n>0:
    last=n%10
    sum=sum+last**3
    n=n//10
if temp==sum:
    print("Armstrong Number")
else:
    print("Not armstrong number")

Enter the number153
Armstrong Number